# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS
Thumbs.db
.DS_Store